@font-face {
  font-family: "W95FA";
  src:
    local("W95FA"),
    url("font/w95fa/W95FA.otf") format("opentype"),
    url("font/w95fa/w95fa.woff") format("woff");
}

body {
    /* The image used */
    //background-image: url("bg.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
	
	/* Remove scrollbar and preserve width */
	width:100vw;height:100vh;
	margin:0;padding:0;border:none;
	float:left;
	overflow-x:hidden;overflow-y:auto;
}

div#background{
	position:absolute;
	top:0px;
	left:0px;
	z-index:-100;
	width:100vw;height:100vh;
	background-image: url("bg.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#background.svgf{
	filter:url(#pixelate);
}

ul{
	list-style-type:none;
	display: flex;
    justify-content: center;
    flex-direction: row;
	padding-left: 0;
}

html {
    background: rgb(239, 230, 255);
}

li{width:fit-content;margin:0 30px;}

h1 {
    font-family: "Montserrat";
    font-size: 30;
    text-align: center;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    /*bottom: 10px;
    left: 10px;
    right: 10px;
    */
	top: 10px;
	/* why did you even put these in??? */
}

div.window{
	animation:500ms winload linear;
}

a, div.window, div#taskbar{
	border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
    background-color: silver;
}

a, div#taskbar{
	font-family:"W95FA", monospace;
}

a:active{
	border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
	box-shadow: inset 1px 1px #000, 1px 0 #dfdfdf, 0 1px #dfdfdf, 1px 1px #000;
}

a {
	color: black;
	text-decoration: none;
	padding:2px 4px;
	cursor: pointer;
    //text-shadow: 5px 5px 5px rgb(39, 35, 35);
}

p {
    font-family: "Montserrat";
}

img {
    width: 30%;
}

.fa-tools {
    font-size: 40;
}

.squarerealistic {
    height: 150px;
    width: 150px;
    background-color: rgb(54, 50, 50);
    box-shadow: 10px 10px 8px rgb(39, 35, 35);
    position: relative;
    animation: testanimation 5s infinite;
}

@keyframes testanimation {
    0% {top: 0px;}
    25% {top: 200px;}
    50% {top: 500px;}
    80% {top: 18px;}
    100% {top: 100px;}
}

div.window{
	position:absolute;
}
div.window div.window-header{
	background: linear-gradient(90deg, #08f, #0af);
    color: white;
    font-family: 'W95FA', monospace;
    padding: 1px 4px;
}
div.window div.window-content:not(div.window-content:has(iframe)){
	padding: 0px 16px;
	display:flex;
}
div.window div.window-content iframe{
	border:none;
	width:100%;
}
div.window div.window-header a.winrem{
	width: 10px;
    display: inline-block;
    float: right;
    height: 10px;
}
*{
	-webkit-font-smoothing: none !important;
}
div#taskbar{
	position: absolute;
    bottom: 0px;
    width: calc(100vw - 3px);
    background: silver;
	width: -webkit-fill-available;
    padding: 3px 7px 1px 7px;
}
div#taskbar div#tasktext{
	width: 60%;
	display: inline-block;
	cursor: pointer;
}
div#taskbar div#settings{
	display: inline-block;
	width:40%;
	float: right;
	display: flex;
    justify-content: flex-end;
}
@keyframes winload{
	from{
		clip: rect(0, 100vw, 0vh, 0);
	}
	to{
		clip: rect(0, 100vw, 100vh, 0);
	}
}