body {
    background: rgb(180,58,158);
    background: linear-gradient(90deg, rgba(180,58,158,1) 0%, rgba(29,69,253,1) 50%, rgba(69,246,252,1) 100%);
}

h1 {
    font-family: "Montserrat";
    font-size: 30;
    text-align: center;
}

a {
    font-family: "Montserrat";
}

p {
    font-family: "Montserrat";
}

img {
    width: 30%;
}