@font-face {
  font-family: "W95FA";
  src:
    local("W95FA"),
    url("font/w95fa/W95FA.otf") format("opentype"),
    url("font/w95fa/w95fa.woff") format("woff");
}

body {
    /* The image used */
    //background-image: url("bg.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
	
	/* Remove scrollbar and preserve width */
	width:100vw;height:100vh;
	margin:0;padding:0;border:none;
	float:left;
	overflow: hidden;
}

div#background{
	position:absolute;
	top:0px;
	left:0px;
	z-index:-100;
	width:100vw;height:100vh;
	background-image: url("bg.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#background.svgf{
	filter:url(#pixelate);
}

ul{
	list-style-type:none;
	display: flex;
    justify-content: center;
    flex-direction: row;
	padding-left: 0;
}

html {
    background: rgb(239, 230, 255);
}

li{width:fit-content;margin:0 30px;}

h1 {
    font-family: "Montserrat";
    font-size: 30;
    text-align: center;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    /*bottom: 10px;
    left: 10px;
    right: 10px;
    */
	top: 10px;
	/* why did you even put these in??? */
}

div.window{
	animation:500ms winload linear;
}

a, div.window, div#taskbar{
	border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
    background-color: silver;
}

a, div#taskbar{
	font-family:"W95FA", monospace;
}

a:active{
	border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
	box-shadow: inset 1px 1px #000, 1px 0 #dfdfdf, 0 1px #dfdfdf, 1px 1px #000;
}

a {
	color: black;
	text-decoration: none;
	padding:2px 4px;
	cursor: pointer;
    //text-shadow: 5px 5px 5px rgb(39, 35, 35);
}

p {
    font-family: "Montserrat";
}

img {
    width: 30%;
}

.fa-tools {
    font-size: 40;
}

.squarerealistic {
    height: 150px;
    width: 150px;
    background-color: rgb(54, 50, 50);
    box-shadow: 10px 10px 8px rgb(39, 35, 35);
    position: relative;
    animation: testanimation 5s infinite;
}

@keyframes testanimation {
    0% {top: 0px;}
    25% {top: 200px;}
    50% {top: 500px;}
    80% {top: 18px;}
    100% {top: 100px;}
}

div.window{
	position:absolute;
}
div.window div.window-header{
	background: linear-gradient(90deg, #08f, #0af);
    color: white;
    font-family: 'W95FA', monospace;
    padding: 1px 4px;
}
div.window div.window-content:not(div.window-content:has(iframe)){
	padding: 0px 16px;
	display:flex;
}
div.window div.window-content iframe{
	border:none;
	width:100%;
}
div.window div.window-header a.winrem{
	width: 10px;
    display: inline-block;
    float: right;
    height: 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAfUlEQVQoU42SUQ7AIAhDZdn9r+wsswQF3PjRSB9gQ+u9NwRO3vWhCOouQiLyVjiHaRSc8GCPMCCh3kDCmDppukDIL+AEUNXDAYLuLr7kYRvPa7OOXwZpvgI53j62FV3A4ap65N2b92CYgQXEDqGzgoTGVqRGZG7LnzXL3HoAxeEvCMOFhKEAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: center;
}
*{
	-webkit-font-smoothing: none !important;
}
div#taskbar{
	position: absolute;
    bottom: 0px;
    width: calc(100vw - 3px);
    background: silver;
	width: -webkit-fill-available;
    padding: 3px 7px 1px 7px;
}
div#taskbar div#tasktext{
	width: 60%;
	display: inline-block;
	cursor: pointer;
}
div#taskbar div#settings{
	display: inline-block;
	width:40%;
	float: right;
	display: flex;
    justify-content: flex-end;
}
@keyframes winload{
	from{
		clip: rect(0, 100vw, 0vh, 0);
	}
	to{
		clip: rect(0, 100vw, 100vh, 0);
	}
}

/* cool animations things */

/* spins forever */
.spin,
.spin-slow,
.spin-rev,
.spin-slow-rev {
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
}
.spin-slow {
    animation-duration: 100000ms;
}
.spin-rev {
    animation-direction: reverse;
}
.spin-slow-rev {
    animation-duration: 100000ms;
    animation-direction: reverse;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* tilt on hover with easing */
.tilt {
    transition: 0.2s;
}
.tilt:hover {
    transform: rotate(3deg);
}

/* spin on hover with easing */
.twist {
    transition: 1s;
}
.twist:hover {
    transform: rotate(360deg);
}

.slow-twist {
    transition: 8s;
}
.slow-twist:hover {
    transform: rotate(360deg);
}
/* im lazy to comment further */

.wiggle-hover:hover {
    animation: wiggle 0.55s linear infinite;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.blink {
    animation: blink-animation 0.95s steps(2, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.tossing {
    animation-name: tossing;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
@keyframes tossing {
    0% {
        transform: rotate(-9deg);
    }
    50% {
        transform: rotate(9deg);
    }
    100% {
        transform: rotate(-9deg);
    }
}

.tossing-alt {
    animation-name: tossing-alt;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
@keyframes tossing-alt {
    0% {
        transform: rotate(9deg);
    }
    50% {
        transform: rotate(-9deg);
    }
    100% {
        transform: rotate(9deg);
    }
}

.bobbing {
    animation: bobbing 2s ease-in-out infinite;
    animation-direction: alternate;
}
.bobbing-slow {
    animation: bobbing 4s ease-in-out infinite;
    animation-direction: alternate;
}
@keyframes bobbing {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.swing {
    animation-name: swing;
    animation-duration: 8s;
    transform-origin: top center;
    animation-iteration-count: infinite;
}
@keyframes swing {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

@keyframes flip {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out;
    }

    40% {
        transform: perspective(700px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out;
    }

    50% {
        transform: perspective(700px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in;
    }

    80% {
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
        animation-timing-function: ease-in;
    }

    to {
        transform: perspective(400px);
        animation-timing-function: ease-in;
    }
}

.flip:hover {
    backface-visibility: visible;
    animation: flip 1.3s;
}

.pulse {
    animation-fill-mode: both;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-name: pulse;
}
@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}
